<!DOCTYPE html>
<html lang="en">

<head>
{% include 'head.html' %} 
</head>

<body>

    <div id="all">
{% include 'nav.html' %}

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{productcat}}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{url_for('index')}}">Home</a>
                            </li>
                            <li><a href="{{url_for('allproductcat', productcat=productcat)}}">{{productcat}}</a>
                            </li>
                            <li>Create Product</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>Create Product</h2>
                        </div>
                    </div>
                </div>
                <div class="row portfolio-project">

                    <section>

                        <div class="col-sm-12">
                            <div class="project-more">
                            <form action= "{{url_for('productcreate', productcat = productcat)}}" method = 'POST'>

                                <h5>NAME</h5>
                                <input type = 'text' size='500' name = 'name' required >
                                <h5>ID</h5>
                                <input type="text" size='3' name='catcode' value="{{productcat}}-" style="pointer-events: none" readonly>
                                <input type = 'text' size='3' name = 'id' required >
                                <h5>SIZE</h5>
                                <input type = 'text' size='50' name = 'size' required >
                                <h5>PRICE</h5>
                                <input type = 'number' name = 'price' required >
                                <h5>POLISH</h5>
                                <input type = 'text' size='500' name = 'polish' required >
                                <h5>IMAGE</h5>
                                <input type = 'text' size='200' name = 'image' required >
                                <input type='submit' value='Create'>
                            </form>
                            <a href= '{{url_for("index")}}'><button>Cancel</button></a>
                            </div>
                        </div>

                    </section>

                </div>

                
            </div>
            <!-- /.container -->


        </div>
        <!-- /#content -->
       <!-- *** FOOTER ***
_________________________________________________________ -->
{% include 'footer.html' %} 


</body>

</html>
