<!DOCTYPE html>
<html lang="en">

<head>
{% include 'head.html' %} 
</head>

<body>

    <div id="all">
{% include 'nav.html' %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Contact</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{{url_for('index')}}">Home</a>
                            </li>
                            <li>Contact2</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container" id="contact">

                <section>

                    <div class="row">
                        <div class="col-md-12">
                            <section>
                                <div class="heading">
                                    <h2>We are here to help you</h2>
                                </div>
                            </section>
                        </div>
                    </div>

                </section>


                <section>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <h3>Address</h3>
                                <p>Prem Products 
                                    <br>Durga Garden ,Jagadhri
                                    <br><strong>Yamuna Nagar</strong>
                                </p>
                            </div>
                            <!-- /.box-simple -->
                        </div>


                        <div class="col-md-4">

                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <h3>Call Us</h3>
                                <p><strong>+91-9466718182</strong>
                                </p>
                            </div>
                            <!-- /.box-simple -->

                        </div>

                        <div class="col-md-4">

                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <h3>Electronic support</h3>
                                <p class="text-muted">Please feel free to write an email to us.</p>
                                <ul class="list-style-none">
                                    <li><strong><a href="mailto:">somilmehta001@gmail.com</a></strong>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.box-simple -->
                        </div>
                    </div>
                </section>

                
            </div>
            <!-- /#contact.container -->
        </div>
        <!-- /#content -->

        <div id="map">

        </div>
{% include 'footer.html' %} 


</body>

</html>