<!DOCTYPE html>
<html lang="en">

<head>
{% include 'head.html' %} 
</head>

<body>

    <div id="all">
{% include 'nav.html' %}

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Catalog</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            
            <div class="container">
                {% for i in show %}
                <div class="row">

                    <section>
                        

                        <div class="col-md-4">
                            <img class="img-responsive" src="/static/{{i.image}}" style="height:150px" alt="{{i.image}}">
                            <!-- /.project owl-slider -->

                        </div>

                        <div class="col-md-8">
                            <div class="project-more">
                                <h4>LINK:</h4>
                                <p>/static/{{i.image}}</p>
                                <h4>ID:</h4>
                                <p>{{i.id}}</p>                            
                                <form method="POST" action="./catalogedit" id="edit_form_{{i.id}}" style="display:none">
                                    <input name="id" value="{{i.id}}">
                                    <input name="link" id="link_{{i.id}}" value="">
                                </form>
                                <button onclick="uplink({{i.id}})" type="" name='prompt' id="delete_form">EDIT</button>
                                <form method="POST" action="./catalogdelete" id="delete_form_{{i.id}}">
                                    <input type="hidden" name="id" value="{{i.id}}">
                                </form>
                                <button onclick="delink({{i.id}})">DELETE</button>
                            </div>
                        </div>
                        
                        
                    </section>

                </div>
                <hr style="border-color: #CCCCCC;width:100%">
                {% endfor %}
                <br>

            </div>
            
            <!-- /.container -->


        </div>
        <!-- /#content -->
       <!-- *** FOOTER ***
_________________________________________________________ -->
{% include 'footer.html' %} 
    <script>
        function delink(id){
            if (confirm('Are you sure you want to delete this image?')){
                document.getElementById("delete_form_"+id).submit();
            }
        }
        function uplink(id){
            link = document.getElementById("link_"+id);
            link.value = prompt('Enter new link');
            if(link.value){
                document.getElementById("edit_form_"+id).submit();
            }
            else alert("edit cancelled or new link='NULL'")
        }
    </script>
    
    

    


</body>

</html>
