------------------------------------------------------------------

<html>
<head>
{% include 'head.html' %}
</head>
<body>

 <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
target="_top">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business"
value="Premhotelware@gmail.com"> <!-- Add your PayPal Seller/Business
email address Required-->
        <!-- Specify a Buy Now button. -->
        <input type="hidden" name="cmd" value="_xclick">
        <!-- Specify details about the item that buyers will purchase. -->
        <input type="hidden" name="item_name" value=""> <!-- Add
Description e.g your room type Required-->
        <input type="hidden" name="amount" value="{{total}}"> <!--
Dynamically add Total Amount Required-->
        <input type="hidden" name="currency_code" value=""> <!--
Update to your currency -->
        <input id="invoice" type="hidden" value="" name="invoice">
<!-- Add Unique invoice for each transaction -->
        <input type="hidden" name="notify_url"
value="www.yourwebsite.com/ipn.php"> <!-- Please add IPN URL You can
use this service to automate back-office and administrative functions,
including fulfilling orders, tracking customers, and providing status
and other information related to transactions. -->
        <input type='hidden' name='cancel_return' value='' /> <!--
Take customers to this URL when they cancel their checkout -->
        <input type='hidden' name='return' value='' /> <!-- Take
customers to this URL when they finish their checkout  -->
        <!-- Display the payment button. -->
        <input type="image" name="submit" border="0"
src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
alt="PayPal - The safer, easier way to pay online">
    </form>
</body>
</html>